.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.note-form {
  display: flex;
  flex-direction: column;
  width: 200px;

  textarea {
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid lightgrey;
      min-width: 100%;
      max-width: 100%;
      height: 100px;
      padding: 10px;
      outline: none;
  }

  button {
      width: 100%;
      background-color: #fff27f;
      cursor: pointer;
      padding: 10px; 
      border: 0;
      outline: none;
      &:hover {
          background-color: tomato;
          color: white;
      }
  }
}

.note {
  position: absolute;
  cursor: pointer;
  background-image: url('assets/post-it-note.png');
  background-size: cover;
  top: 100px;
  left: 300px;
  height: 200px;
  width: 200px;
  padding: 20px;
  

  .text {
      font-family: Arial, Helvetica, sans-serif;
      height: 100%;
      width: 100%;
      white-space: pre-wrap;
      overflow-y: scroll;
  }

  .close {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 15px;
      transition: transform .3s ease;

      &:hover {
          transform: scale(1.6);
      }
  }

  .edit {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 35px;
    transition: transform .3s ease;

    &:hover {
        transform: scale(1.6);
    }

  
}

.editBox{
  background-color: #fff9be;
  margin-top: 15px;
  border: none;
  min-width: 100%;
  max-width: 100%;
}

}
